@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html, body {
	height: 100%;
	width: 100%;
	background-color: #1c1c1c;
	overflow-x:hidden;
}

.main {
	position: relative;
}

.banner {
	opacity: 0%;
	width: 99%;
}

#container {
	overflow: hidden;
	height: 60vw;
	position: relative;
}

video {
	opacity: 50%;
	width: 100%;
  	height: 100%;   
  	position: absolute;
  	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -1000px;
	overflow: hidden;
}

.header {
	display: flex; 
	cursor: pointer;
}

.header img {
	position: absolute;
	left: 50px;
	top: 15px;
	height: 30px;
	width: 90px;
	cursor: pointer;
}

.menu {
	position: absolute;
	left: 170px;
	top: 2px;
	display: flex;
	cursor: pointer;
}

.menu h2.normal {
	font-family: Segoe UI light;
	font-size: 15px;
	padding-left: 13px;
	color: #d4d4d4;
	transition: 0.3s;
	cursor: pointer;
}

.menu h2.home {
	font-family: Segoe UI light;
	font-size: 15px;
	padding-left: 13px;
	color: #ffffff;
	cursor: pointer;
}

.menu h2.normal:hover {
	color: #747474;
	transition:0.3s all ease;
	cursor: pointer;
}


.search-bar img {
	position: absolute;
	left: 81.5%;
	top: 15px;
	color: #ffffff;
	width: 20px;
	height: 20px;
}

.search-bar img:hover {
	cursor: pointer;
	opacity: 50%;
}

.kids h2 {
	user-select: none;
	color: #ffffff;
	font-family: Segoe UI light;
	font-size: 15px;
	position: absolute;
	left: 84%;
	top: 2px;
	transition: 0.3s;
}


.kids h2:hover {
	color: #747474;
	transition: 0.3s;
}

.notification-icon img {
	opacity: 100%;
	position: absolute;
	left: 87.7%;
	width: 40px;
	height: 40px;
	top: 5px;
	transition: 0.3s;
}

.notification-icon img:hover {
	opacity: 50%;
	transition: 0.3s;
}

.avatar img {
	opacity: 100%;
	position: absolute;
	left: 91.5%;
	width: 30px;
	height: 30px;
	top: 8px;
	border-radius: 5px;
	transition: 0.3s;
}

.avatar img:hover {
	opacity: 50%;
	transition: 0.3s;
}

.selector img {
	position: absolute;
	top: 17%;
	left: 4%;
	width: 510px;
}

.selector h2 {
	user-select: none;
	position: absolute;
	font-size: 16px;
	font-family: Segoe UI light;
	color: #ffffff;
	top: 46%;
	left: 4%;
	width: 510px;
}


.button {
	display: block;
    user-select: none;
	position: absolute;
	top: 58%;
	left: 2.5%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	background-color: #ffffff;
	width: 100px;
  	padding: 10px;
  	margin: 20px;
	transition: 0.3s;
	font-family: 'Roboto' , sans-serif;
	font-size: 17px;
}


.button:hover {
	background-color: #adadad;
	transition: 0.3s;
	cursor: pointer;
}

.button-info {
	opacity: 80%;
	display: block;
    user-select: none;
	position: absolute;
	color: #ffffff;
	top: 58.2%;
	left: 11%;
	border: #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	background-color: #666666;
	width: 180px;
  	padding: 10px;
  	margin: 20px;
	transition: 0.3s;
	font-family: 'Roboto' , sans-serif;
	font-size: 17px;
}



.button-info:hover {
	opacity: 60%;
	color: #000000;
	background-color: #ffffff;
	border: #ffffff;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}

img {
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}